#first {
    width: 15%;
    transition: width 2s ease-in-out;
}

#first:hover {
    width: 18%;
}

#second {
    width: 16%;
    transition: width 2s ease-in-out;
}

#second:hover {
    width: 19%;
}

#third {
    width: 11%;
    transition: width 2s ease-in-out;
}

#third:hover {
    width: 14%;
}

.tarotDeck {
    width: 10%;
    text-align: center;
    padding-left: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
    animation-iteration-count: infinite; 
    animation-duration: 2s;     
}

#cards:hover {
    transform: rotate(10deg);
}

.Tarotcard {
    width: 10%;
    text-align: center;
    padding-left: 40%;
    margin-top: 2%;
    margin-bottom: 15%;
    position: absolute; 
    animation-iteration-count: 1; 
    animation-delay: 4s;
    animation-duration: 7s;  
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out; 
    transition: width 1s ease-in-out;
}

.Tarotcard:hover {
    width: 11%;
}

.one {
    animation-name: anim-one;
}

@keyframes anim-one {
    from { transform: translate(0);}
    to { transform: translate(-280px);}
    }
.two {
    animation-name: anim-two;   
}
@keyframes anim-two {
    from { transform: translate(0);}
    to { transform: translate(-235px);}
    }
.three {
    animation-name: anim-three;
}
@keyframes anim-three {
    from { transform: translate(0);}
    to { transform: translate(-190px);}
    }
.four {
    animation-name: anim-four;
}
@keyframes anim-four {
    from { transform: translate(0);}
    to { transform: translate(-145px);}
    }
.five {
    animation-name: anim-five;
}
@keyframes anim-five {
    from { transform: translate(0) ;}
    to { transform: translate(-100px) ;}
    }
.six {
    animation-name: anim-six;
}
@keyframes anim-six {
    from { transform: translate(0) ;}
    to { transform: translate(-50px) ;}
    }
.seven {
    animation-name: anim-seven;
}
@keyframes anim-seven {
    from { transform: translate(0) ;}
    to { transform: translate(0) ;}
    }
    
.eight {
    animation-name: anim-eight;
}
@keyframes anim-eight {
    from { transform: translate(0) ;}
    to { transform: translate(50px) ;}
    }
.nine {
    animation-name: anim-nine;
}
@keyframes anim-nine {
    from { transform: translate(0) ;}
    to { transform: translate(100px) ;}
    }
.ten {
    animation-name: anim-ten;
}
@keyframes anim-ten {
    from { transform: translate(0) ;}
    to { transform: translate(150px) ;}
    }
.eleven {
    animation-name: anim-eleven;
}
@keyframes anim-eleven {
    from { transform: translate(0) ;}
    to { transform: translate(200px) ;}
    }
.twelve{
    animation-name: anim-twelve;
}
@keyframes anim-twelve {
    from { transform: translate(0) ;}
    to { transform: translate(245px) ;}
    }
.thirteen {
    animation-name: anim-thirteen;
}
@keyframes anim-thirteen {
    from { transform: translate(0) ;}
    to { transform: translate(290px) ;}
    }

.scroller {
    width: 40%;
    height: 300px;
    overflow-y: auto;
    margin-left: 40%;
    margin-top: -4%;
    margin-bottom: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Image {
    margin-top: 23%;  
    margin-left: 15%; 
}

#Heading {
    font-size: 450%;
    margin-left: 40%;
    margin-top: -32%;
}

#Title1 {
    color: rgb(165, 162, 157);
}

#Title2 {
    color: rgb(165, 162, 157);
}

@media (max-width: 667px) {
    #first {
        width: 45%;
    }
    #second {
        width: 46%;
        
    }
    #third {
        width: 34%;
    }
    .tarotDeck {
        width: 35%;
        margin-left: -10%;
    }    
    .scroller {
        width: 65%;
        height: 250px;
        margin-left: 15%;
    }
    #Heading {
        font-size: 250%;
        margin-top: 5%;
        margin-left: 13%;
    }
    .Image {
        margin-top: 5%;  
        width: 345%;
    }
}